*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  height: 100vh;

}

#wrapper{
  position: relative;
  display: flex;
  width: 700px;
  height: 500px;
  margin: auto;
}

.prev, .next{
  display:flex;
  justify-content: center;
  align-items: center;
  width:60px;
  height:100%;
}


.images{
  width: 580px;
  height:100%;
}

.images img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

i{
  cursor: pointer;
}

.nav{
  position:absolute;
  bottom: 10px;
  left:50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding:20px;
  border-radius: 50px;

}

.nav i{
  color: white;
  padding: 5px;
}

.nav i.active{
  color: blue;
}
